/* client/src/styles/DetailedPage.module.css */

.detailContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #000000;
}

.detailCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 360px;
  width: 100%;
  border: 8px solid #C0C0C0;
}

.detailId {
  position: absolute;
  border: 2px outset #2a3439;
  top: 10px;
  left: 10px;
  background-color: #C0C0C0;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 0.8em;
  font-weight: bold;
  color: #333;
}

.favoriteButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #C0C0C0;
  border: 2px inset #2a3439;
  cursor: pointer;
  font-size: 1.5em;
  padding: 4px 8px 0px 8px; /* top, right, bottom, left */
  padding-bottom: 2px;
  border-radius: 50%;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  box-shadow: 0 4px 8px rgba(88, 88, 88, 0.5);
  transition: transform 0.2s ease;
}

.favoriteButton.favorited {
  font-size: 1.2em;
  padding: 6px 5px 6px 5px; /* top, right, bottom, left */
  padding-bottom: 6px;
  border: 2px outset #2a3439;
}

.favoriteButton:hover {
  transform: scale(1.1);
}

.detailName {
  background-color: #C0C0C0;
  border: 2px inset #2a3439;
  border-radius: 20px;
  padding: 5px 10px;
  margin-top: -10px;
  font-size: 1em;
  color: #333;
  text-transform: capitalize;
}

.backButton {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #C0C0C0;
  border: 2px outset #2a3439;
  border-radius: 10px;
  padding: 0px 6px 0px 6px; /* top, right, bottom, left */
  color: #333;
  font-size: 1.5em;
  cursor: pointer;
}

.backButton span {
  display: inline-block;
  transform: scaleX(-1);
}

.backButton:hover {
  transform: scale(1.05);
}

.shinyButton {
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  border: 2px outset #2a3439;
  border-radius: 25px;
  color: white;
  padding: 5px 10px;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.shinyButton:hover {
  background-color: #388e3c;
}

.detailImage {
  background-color: #c9c9c9;
  border-radius: 10px;
  border: 2px inset #2a3439;
  /* max-width: 100%; */
  width: 175px;
  height: auto;
  margin-top: 14px;
  margin-bottom: -5px;
}

.baseExperience {
  background-color: #DAA520;
  border-radius: 20px;
  border: 2px outset #2a3439;
  padding: 2px 5px;
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 1em;
  font-weight: bold;
  color: #333;
}

.pokemonTypes {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.pokemonType {
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px outset #2a3439;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
}

.pokemonMeasurementsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 325px;
  margin-bottom: 6px;
}

.measurement {
  text-align: center;
  flex: 2;
  background-color: #A9A9A9;
  border: 2px outset #2a3439;
  border-radius: 10px;
}

.measurementValue {
  font-size: 1.2em;
  font-weight: bold;
}

.measurementLabel {
  font-size: 0.8em;
  color: #4e4e4e;
  background-color: #B2DFDB;
  padding: 3px;
  border-radius: 5px;
  display: inline-block;
}

.baseStatsTitle {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  background-color: #ddd;
  border: 2px outset #2a3439;
  border-radius: 10px;
  padding: 2px 8px;
  margin: 0 30px;
  flex-grow: 0;
  display: inline-block;
}

.pokemonStats {
  background-color: #c9c9c9;
  border-radius: 10px;
  border: 2px inset #2a3439;
  padding: 10px;
  padding-bottom: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -5px;
}

.stat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
}

.statName {
  font-weight: bold;
  text-align: center;
  border: 2px outset #2a3439;
  width: 50px;
  background-color: #ddd;
  border-radius: 10px;
  padding: 1px 1px;
}

.statBar {
  flex: 4;
  background-color: #ddd;
  border-radius: 20px;
  border: 2px outset #2a3439;
  margin: 0 5px;
  overflow: hidden;
  position: relative;
  height: 20px;
  width: 100px;
}

.statBar::after {
  content: attr(data-value);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  line-height: 20px;
  z-index: 1;
}

.statBarFill {
  height: 100%;
  background-color: #4caf50;
  border-radius: 10px 0 0 10px;
  text-align: left;
  position: relative;
}

.detailCategory,
.detailCost,
.detailEffect,
.detailFlingPower {
  font-size: 1em;
  margin-bottom: 2px;
  color: #000000;
}
